.container-extrato {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin : 10px auto 0 auto;
  width: fit-content;
  max-width: 99.5vw;
  flex-wrap: wrap;
  height: fit-content;
    h2 {
      font-weight: bold;
      font-family: 'Segoe UI';
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
    }
}
