<div class="container-sobre">
  <img src="../../assets/img/moneyico.ico" title="Ícone escolhido para o projeto">
  <h2>SOBRE - BGM</h2>
  <p class="subtitulo">Seja bem-vindo(a) ao "Balanço de Gastos Mensal"</p>
  <p class="texto">Esta é uma aplicação desenvolvida com o intuito de aperfeiçoar os conhecimentos em programação na área de Front-End utilizando o framework Angular,
    onde diversos componentes modulares foram desenvolvidos e conectadas através das propriedades de roteamento do Angular.</p>
  <p class="texto">O projeto consiste em organizar, agrupar, categorizar por data e realizar o balanço de seus gastos e receitas em determinado período de tempo.</p>
  <ul>
    <li><a class="image-link" href="https://github.com/vmarcante/BGM"><img src="../../assets/img/github-icon.png" alt="Ícone preto da plataforma GitHub, indicando um link clicavel para o repositório do projeto" title="Repositório do projeto no GitHub"></a></li>
    <li><a class="image-link" href="https://linkedin.com/in/vinicius-rosa-marcante-b06846170"><img src="../../assets/img/linkedin-icon.png" alt="Ícone azul da plataforma LinkedIn, indicando um link clicavel para o perfil do autor do projeto" title="Perfil do LinkedIn do autor"></a></li>
  </ul>
  <p class="subtitulo"> &copy; 2022 - Vinicius Rosa Marcante</p>
</div>
