<div fxLayout="row" fxLayoutAlign="space-between"
  [ngClass]="{ 'container-dia': !detalhes, 'container-dia-detalhes': detalhes }">
  <div fxLayout="row" style="align-items:center">
    <button [ngClass]="{ 'button-down': !detalhes, 'button-up': detalhes }" (click)="toggleDetalhes()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div class="descricao">{{ transacao.nome }}</div>
  </div>

  <div id="valor" [ngClass]="{
      despesa: transacao.tipo == 'despesa',
      receita: transacao.tipo == 'receita'
    }">
    <div fxLayout="column" fxLayoutAlign="end">
      <span class="parcela" *ngIf="transacao.parcelas > 1" fxLayoutAlign="end">
        {{ transacao.parcelaAtual }}/{{ transacao.parcelas }}
      </span>
      R$ {{ transacao.valor }}
    </div>
  </div>
</div>

<div *ngIf="detalhes" class="container-detalhes" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" style="align-items: center;">
    <div fxLayout="column">
      <span class="data">{{ transacao.data }}</span>
      <span class="data" *ngIf="transacao.recorrente">RECORRENTE</span>
      <span class="data" *ngIf="transacao.parcelas > 1">R$ {{ valorTotal }}</span>
    </div>
    <div style="border-left: 1px solid black; padding-left: 7px">
      <span>{{ transacao.comentario }}</span>
    </div>
  </div>

  <div>
    <button (click)="editarTransacao()">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteTransacao()" class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>