.mes-container {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 10px 3px 10px 3px;
  margin: 2px;
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
  width: 465px;
  height: 200px;

}

.mes-header {
  text-transform: uppercase;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  border-width: 1px;
  padding: 0 10px 7px 10px;
}

.mes-title {
  width: fit-content;
}

.montanteMes {
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.container-dias::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

.container-dias::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

.container-dias::-webkit-scrollbar-thumb {
  background-color: rgb(52, 52, 75);    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
  //border: 3px solid none;  /* creates padding around scroll thumb */
}
