.mes-container {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 10px 3px 10px 3px;
  margin: 2px;
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
  width: 465px;
  height: 269px;

}

.mes-header {
  text-transform: uppercase;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  //border:solid black;
  //border-width: 0px 0px 1px 0px;
  padding: 0 10px 7px 10px;
}

.mes-title {
  width: fit-content;
}

.montanteMes {
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.container-dias {
  border-radius: 15px;
}

.container-dias::-webkit-scrollbar {
  width: 4px;
}

.container-dias::-webkit-scrollbar-track {
  background: none;
}

.container-dias::-webkit-scrollbar-thumb {
  background-color: rgb(52, 52, 75);
  border-radius: 2px;
  //border: 3px solid none;
}
