<div class="container-receita">
  <h2>Nova Receita</h2>
  <form [formGroup]="formulario">
    <mat-form-field appearance="outline" class="name-form">
      <mat-label>Descrição da receita</mat-label>
      <input matInput formControlName="descricaoReceita" placeholder="Insira a origem da receita"/>
    </mat-form-field>

    <div class="auxiliar-forms">
      <mat-form-field appearance="outline" class="value-form">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor" type="text"
        prefix="R$ " placeholder="R$" mask="separator.2"
        [allowNegativeNumbers]="false"
        thousandSeparator="," decimaMarker="."/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="date-form">
        <mat-label>Data</mat-label>
        <input matInput formControlName="data" type="text"
        mask="d0/M0/0000" placeholder="Insira uma data"
        [leadZeroDateTime]="true" [dropSpecialCharacters]="false">
      </mat-form-field>

    <mat-checkbox formControlName="recorrente" class="check-form">
      <mat-label>Recorrente</mat-label>
    </mat-checkbox>
  </div>

    <div class="botoes" style="display: flex; justify-content: space-around;">
      <button (click)="cadastrarReceita()" [disabled]="isLoading" type="submit" mat-raised-button class="button-receita" style="background-color:#32bea6;">
        <span style="font-family: 'Segoe UI'; font-size: 16px">Cadastrar receita</span>
      </button>

      <button (click)="resetForm()" type="submit" mat-raised-button class="button-receita" style="background-color:lightgray;">
        <span style="font-family: 'Segoe UI'; font-size: 16px">Limpar</span>
      </button>
    </div>
  </form>
</div>
