<div class="container-despesa">
  <h2>Nova Despesa</h2>
  <form [formGroup]="formulario">
    <mat-form-field appearance="outline" class="name-form">
      <mat-label>Nome do produto</mat-label>
      <input matInput formControlName="nomeItem" placeholder="Insira o nome do produto"/>
    </mat-form-field>

    <div class="auxiliar-forms">
      <mat-form-field appearance="outline" class="value-form">
        <mat-label>Valor</mat-label>
        <input prefix="R$ " mask="separator.2" type="text" matInput formControlName="valor" placeholder="R$" [allowNegativeNumbers]="false"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="date-form">
        <mat-label>Data de Compra</mat-label>
        <input matInput formControlName="dataCompra" type="date" placeholder="Insira a data de compra do produto ou serviço">
      </mat-form-field>

      <mat-form-field appearance="outline" class="parcelas-form">
        <mat-label>Parcelamento</mat-label>
        <mat-select formControlName="parcelas">
          <mat-option *ngFor="let parcela of parcelamento" [value]="parcela.parcelas">
            {{ parcela.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="comentario-form">
      <mat-label>Observações</mat-label>
      <textarea matInput formControlName="comentario" placeholder="Insira alguma observação sobre a compra."></textarea>
    </mat-form-field>

    <div class="botoes" style="display: flex; justify-content: space-around;">
      <button type="submit" mat-raised-button class="button-despesa" style="background-color:#32bea6;">
        <span style="font-family: 'Segoe UI'; font-size: 16px">Cadastrar despesa</span>
      </button>

      <button (click)="resetForm()" type="submit" mat-raised-button class="button-despesa" style="background-color:lightgray;">
        <span style="font-family: 'Segoe UI'; font-size: 16px">Limpar</span>
      </button>
    </div>

  </form>
</div>
