<header>
  <div class="box-links">
    <a routerLink="home" routerLinkActive="pagina-atual">
      <img class="system-icon" src="../assets/img/moneyico.ico" alt="" width="50" height="50">
    </a>
    <nav>
      <ul>
        <li><a [routerLink]="['/routePath']" routerLinkActive="pagina-atual">Nova Compra</a></li>
        <li><a [routerLink]="['/routePath']" routerLinkActive="pagina-atual">Extrato Mensal</a></li>
        <li><a [routerLink]="['/routePath']" routerLinkActive="pagina-atual">Configurações</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
