<header>

  <div class="box-links">
    <nav>
      <ul>
        <li><a routerLink="transacao" routerLinkActive="pagina-atual">Nova Transação</a></li>
        <li><a routerLink="extrato" routerLinkActive="pagina-atual">Extrato Mensal</a></li>
        <li><a routerLink="sobre" routerLinkActive="pagina-atual">Sobre</a></li>
      </ul>
    </nav>
  </div>

  <div class="box-home">
    <a routerLink="transacao" routerLinkActive="pagina-atual">
      <img class="system-icon" src="../assets/img/moneyico.ico" alt="" title="Acessar a página inicial"width="40" height="40">
    </a>
  </div>

</header>

<main>
  <router-outlet></router-outlet>
</main>
