.ano-field,
.mes-field {
    max-width: 70px;
    margin: 0 10px;
}

.formDiv {
    z-index: 3;
    position: fixed;
    bottom: 400px;
    padding: 0 10px;
    width: 350px;

    h2 {
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 10px 10px 0;
    }
}